table {
  table-layout: fixed;
  width: 100%;
  border: 3px solid #FF8C00	;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 25px;
}

/* tipos de letra */

html {
  font-family: monospace;
}

thead th {
  font-family: monospace;
}

td {
  letter-spacing:1px;
}

tbody td {
  text-align: center;
}

/* cores */

thead, tfoot {
  background: url(2.jpg);
  color: white;
  text-shadow: 1px 1px 1px blue;
}

thead th{
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid #FF8C00	;
}

/* cores*/

tbody tr:nth-child(odd) {
  background-color: #FF4500;
}

tbody tr:nth-child(even) {
  background-color: #FF8C00;
}

table {
  background-color: white;
}

/* legenda */

caption {
  font-family: Courier;
  padding: 30px;
  font-style: italic;
  caption-side: bottom;
  color: #FF0000	;
  text-align: right;
  letter-spacing: 4px;
}
